$font-color: black;
$bg-color: white;

.container {
    margin-left: 25%;
    button{
        background-color: $bg-color;
        color: $font-color;
    }
}

@media (max-width: 768px) {
    .container {
        margin-left: 3%;
        button{
            background-color: $bg-color;
            color: $font-color;
        }
    }
}
