<div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Nama">
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Alamat"></textarea>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="phone">
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Gender">
        <mat-option value="Male">Male</mat-option>
        <mat-option value="Female">Female</mat-option>
      </mat-select>
    </mat-form-field>
  </div>