/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

// Variables
$primary: #377BB5 !default;
$baseText: #1d1d1d !default;

// Base Styles
html {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  color: $baseText;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  margin: 0 auto;
}

h1 {
  color: $primary;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
